.main-container{

    background: linear-gradient(to bottom, #ffaf88 0%, #ff99cc 100%);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

}
.text{
    font-family: MoreSugar;
    float: right;

}
.vector{
    font-family: MoreSugarExtra;
    width: 20%;
    float:right;

    text-align: left;
}

.vector2{

    font-family: MoreSugarExtra;
    float:right;
    margin-left: 2px;
    text-align: left;

}

.vector3{

    font-family: MoreSugarExtra;
    float:right;
    margin-left: 2px;
    text-align: left;


}

#tittle{
    color: white;
}

/*source: https://stackoverflow.com/questions/52369434/textarea-with-alternate-rows-and-line-numbers/52369720*/
#code-input{
    width: 100%;
    min-height: 50%;
    background: url(http://i.imgur.com/2cOaJ.png) top -12px left / auto no-repeat,
    linear-gradient(#F1F1F1 50%, #F9F9F9 50%) top left / 100% 32px;
    border: 1px solid #CCC;
    box-sizing: border-box;
    padding: 0 0 0 30px;
    resize: vertical;
    line-height: 16px;
    font-size: 13px;
}

#one_div{
    float: right;
    width: 48%;
    height: 70%;
    padding: 10px;
    background: white;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 20px;
    overflow:hidden;
}

#two_div{
    height: 70%;
    width: 48%;
    background: white;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 20px;
    padding: 10px;
    overflow:hidden;
}

#three_div{

    width: 100%;
    height: 10%;
    padding-left: 10px;
}

#four_div{
    width: 100%;
    height: 40%;
    padding-top: 2rem;
}


#left-sub-header{
    width: 100%;
    height: 15%;
    align-items: center;

}
#left-sub-body{

    width: 100%;
    height: 90%;
    padding: 20px;
    font-family: MoreSugar;

}

.left-sub-body-tittle{

    color: #5ec5bd;
    font-size: 2rem;
    margin-top: -1rem;

}

.sub-header-button{
    margin-top: 2%;
    border: none;
    background-color: #df96cc;
    border-radius: 5px;
    color: white;
    font-size: 30px;
    font-family: GlacialIndifference;

}

#btn-center{
    margin-left: 25px;
    margin-right: 25px;
}

#btn-run{
    background: linear-gradient(to bottom, #ffaf88 0%, #E95086 100%);
    border: none;
    border: solid #ff99cc;
    color: white;
    margin-left: 0px;
}

#btn-reset{
    background-color: transparent;
    color: #df96cc;
    border: solid #df96cc;
    margin-left: 10px;
}

#btn-save{
    background: linear-gradient(to bottom, #ffaf88 0%, #E95086 100%);
    border: none;
    border: solid #ff99cc;
    color: white;
    margin-top: 0px;
    float: right;
    font-family: GlacialIndifference;
}

#color-pick{

    height: 80%;
}



.code-editor-button{
    float: left;
    margin-top: 13px;
    font-size: 20px;
    border-radius: 5px;
    font-family: MoreSugar;


}

.ReactColorPicker-module_react_color_picker__1OEfS .ReactColorPicker-module_details__106p_ .ReactColorPicker-module_hex_value__10kKY {
    min-width: 100px;
}

#top-banner{
    /*background-color: #5ec5bd;*/
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: MoreSugar;
}

#preview-container{
    background: #ffaf88;
    /*background-image: url("./images/logo.png");*/
    margin-top: -1rem;
    height: 90%;
    width: 100%;
    /*background-image: url("./images/logo.png");*/
}

#preview-tittle{
    color: white;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: -1rem;
}

#error-vector{
    font-family: MoreSugarExtra;
    color: black;
    font-size: 7rem;
    width: 30%;
    float: left;
    background: -webkit-linear-gradient(#5ec5bd 0%, #E95086 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

#error-message{
    font-family: MoreSugar;
    color: black;
    font-size: 2rem;
    float: right;
    width: 70%;
    text-align: left;
    color: #E95086;
    vertical-align: middle;
}

/* Examples*/
.back-container{
    background: linear-gradient(to bottom, #643cd6 0%, #ff99cc 100%);
}

.back-container{
     background-color: #61dafb;
 }
